{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
        <h2>About</h2>
        We're 3D printing and sex positive enthusiasts and after discovering the 
        3D clitoris model we started printing and gifting them to our friends. This
        innocent beginning only set off a much larger project that we initially
        imagined.
        </p>
        <p>
        Our life experiences and this new model led us to realize that many 
        humans have questions about sexuality and in particular their own genitals.
        </p>

        <ul>
           <li>Is my shape normal?</li>
           <li>Are my gentials too small? Too large?</li>
           <li>What do the genitalia of a trans-gender person look like?</li>
        </ul>

        <p>
        Sadly, there are few places where you can find answers to these questions.
        Unfortunately many people get sexual knowledge from consuming pornography, 
        which promotes a lot of concepts and ideas that simply do not apply to 
        real life. We hope to make models available so that anyone can 
        view, study, download or even print these models without time pressure, 
        in privacy. Printing our models for your purposes should also be inexpends 
        and reasonably fast.
        </p>
        <p>
        With this project we aim educate the world about human sexuality by making 
        3D models of genitals of human genitalia from all over the world. We aim to 
        show females, males and many in between; all major ethnicities, body shapes 
        and ages. We aim to show common shapes and uncommon shapes alike -- both 
        are beautiful.
        </p>
        <p>
        All of our human models will be anonymous and must provide written consent.
        We will destroy all source images and personally identifying information 
        as soon as the 3D model is created from the source photos. The human models 
        may revoke their consent to have their 3D models on this site. However,
        it is impossible to remove all the copies that people have downloaded.
        </p>
        <p>
        <b>
        Our goal is to be educational; not creepy.<br/> 
        We are not peddling pornography.<br/>
        We aim to disspel myths about the human body.<br/>
        </b>
        </p>
        <p>
        Find out more about <a href="{{ url_for("index.team") }}">our team</a>.
        </p>
        <p>
        We Are Beautiful is a company headquartered in Talinn, Estonia. Our models are
        created near Zürich, Switzerland and the company web site and business is
        created and maintained from Barcelona, Spain.
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
