<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/wab.css')}}">
    {% endblock %}

    <title>{% block title %}We are beautiful!{% endblock %}</title>
    {% endblock %}
  </head>
  <body class="h-100">

  {%- include 'navbar.html' -%}
  <div class="container-fluid" id="top-container">
    {% block content %}
    {% endblock%}
  </div>

  {% block scripts %}
    {{ bootstrap.load_js() }}
  {% endblock %}

</body>
</html>
