{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-well">
      <p>
      Browse our models:
      </p>

      <ul>
        <li><a href="/view/0003-high.obj">0003-high</a></li>
        <li><a href="/view/0003-normal.obj">0003-normal</a></li>
        <li><a href="/view/0004-high.obj">0004-high</a></li>
        <li><a href="/view/0004-normal.obj">0004-normal</a></li>
        <li><a href="/view/0004s-high.obj">0004s-high</a></li>
        <li><a href="/view/0004s-normal.obj">0004s-normal</a></li>
      </ul>

    </div>
    <div class="col-3">
    </div>
  </div>
{% endblock%}
