{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Browse</h2>
      <p>
      We aim to provide models for a wide range of ages, ethnicities and geographic origin. We do not
      publish this information, but we do provide a <a href="/statistics">summary statistics</a> of our models.
      </p>
      <p>
      We have the following models available:
      </p>

      {% for section in order %}
        {{ list_bundles(sections[section].bundles, sections[section].name) }}
      {% endfor %}

      <br/>
      <br/>
      <p>
      <b>Important note:</b> We aim to have a balance of models on the site.
      </p>
      <p>
      However, this isn't quite possible yet, since we do not have proper model release contracts in place yet.
      The models available here are provided on a trust basis in order for us to gather support to launch
      the site/company. We are eternally grateful to the models who have agreed to participate in this preview
      version of our site, but this limitation does not allow us to be as balanced as we wish to be. For now!
      </p>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}

{% macro list_bundles(bundles, name, anatomical = False) -%}
  <div class="browse-section">{{ name }}</div>
  {% for bundle in bundles %}
        <div class="browse-model"><a href="/view/{{ bundle['code'] }}">{{ bundle['code'] }}</a>:
        {% if bundle['id'] != "000000" %}
            {{ bundle['gender'] }} with a {{ bundle['body_type'] }} body. 
        {% else %}
            anatomical model
        {% endif %}
        </div>
        <div>
          {{bundle['pose'] }} in a  
          {{bundle['arrangement'] }} arrangement,
          {{bundle['excited'] }}
        </div>
    {% endfor %}
{%- endmacro %}
