{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Model disambiguation page</h2>
      <p>
          We have more than one model for the ID {{ model }}. Please select one below:
      </p>
      <ul>
        {% for model in model_list %}
          <li><a href="{{ url_for('index.view', model=model['code']) }}">{{ model['body_part'] }}, {{ model['pose'] }}, {{ model['excited'] }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
