{%- extends 'base.html' -%}
{%- block content -%}
<div class="row justify-content-center">

  <div class="col-8 justify-content-center">
    
    <img style="width: 100%" src="/static/img/wearebeautiful.svg">
    <h1>Coming soon!</h1>
    <div style="padding-top: 15px; font-size: 15pt;">
        <p class="text-justify">
        We Are Beautiful is a new sex education organization that uses technology to educate the world about 
        what real humans look like.
        </p>
        <p style="margin-top: -10px; font-weight: bold;">Launching: March 2020.</p>
    </div>

    <div style="padding-top: 15px; font-size: 15pt;">
        <p class="text-justify">
        We Are Beautiful és una nova organització internacional d’educació sexual que utilitza tecnologia per donar 
        a conèixer l'aspecte físic dels humans reals.</br>
        </p>
        <p style="margin-top: -10px; font-weight: bold;">Proper llançament: març del 2020.</p>
    </div>

    <div style="padding-top: 15px; font-size: 15pt;">
        <p class="text-justify">
        We Are Beautiful es una nueva organización internacional de educación sexual que utiliza tecnología para 
        dar a conocer el aspecto físico de los humanos reales.</br>
        </p>
        <p style="margin-top: -10px; font-weight: bold;">Próximo lanzamiento: marzo de 2020.</p>
    </div>

    <div style="padding-top: 15px; font-size: 15pt;">
        <p class="text-justify">
        We Are Beautiful ist eine neue Organisation für Sexualerziehung, die mit hilfe von Technologie die Welt darüber aufklärt, 
        wie echte Menschen aussehen.</br>
        </p>
        <p style="margin-top: -10px; font-weight: bold;">Startet: März 2020.</p>
    </div>

  </div>

</div>

{% endblock%}
