{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <p>
       We are beautiful is a project by Eternal Gratidude... OU,
       incorporated in Tallinn, Estonia.
    </p>
    <p>
       What is the with the silly company name? It is an inside joke that 
       stemmed from a recent gathering of our tribe. Someone was looking for
       a ride to the event and posted:
    </p>
    <blockquote>
       You will get eternal gratitude and maybe a white russian.
    </blockquote>
      
    <p>
       It was a point of great joy and laughter for us that weekend and when 
       we decided to start the company and needed a name for it, the name was
       clear.
    </p>
    <p>
       Given that our site has a much more realistic name, we decided to have 
       fun with the actual company name. As you can tell, we love humor and being
       sily; we do not take ourselves too seriously.
    </p>
  </div>
{% endblock%}
