{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Company</h2>
      <p>
         We are beautiful is a project by Eternal Gratidude... ÖU,
         incorporated in Talinn, Estonia.
      </p>
      <p>
         What is the with the silly company name? It is an inside joke that 
         stemmed from a recent gathering of our tribe. Someone was looking for
         a ride to the event and posted:
      </p>

      <p class="quote">
         You will get eternal gratitude and maybe a white russian.
      </p>
        
      <p>
         It was a point of great joy and laughter for us that weekend and when 
         we decided to start the company and needed a name for it, the name was
         clear.
      </p>
      <p>
         Given that our site has a much more realistic name, we decided to have 
         fun with the actual company name. As you can tell, we love humor and being
         sily; we do not take ourselves too seriously.
      </p>
      <p>
         Our address and contact info:
      </p>
      <p class="quote">
         Eternal Gratitude...</br>
         White Russian Lane 420</br>
         Talinn, Estonia
      </p>
      <p class="quote">
         info at wearebeautiful dot info
      </p>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
