{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
        <h2>Donate</h2>
        <p>
           Eternal Gratitude ... ÖU is a for-profit company that is run as a non-profit company. 
        </p>
        <p>
           We plan to only raise enough funds to cover our costs for operating the
           site, creating 3D models and providing us the tools to do this. We
           will never take dividends or otherwise profit from operating this site.
        </p>
        <p>
           However, we do have costs to take pictures of human models,
           sign modeling release contracts, make 3D models, provide human models
           with one printed 3D model of their own genitalia (as a thank you) and
           a host of other small costs.
        </p>
        <p>
           If you appreciate what we do with this site, we would appreciate a small
           support payment. Since we are a for profit company masquerading as a 
           non-profit, we cannot really call them donations and these payments are
           also not tax deductible.
        </p>
        <p>
           Each year we raise funds to cover our operational cost for the next year.
           Once our budget has been met, we will redirect visitors to donate to
           other sex-positive non-profits rathen than to us.
        </p>
        <p>
           This budget for this year has not been met. Please consider making
           a small support payment:
        </p>
        <ul>
           <li>Via SEPA bank transfer: IBAN EE000000000000</li>
           <li>By Credit Card via Stripe</li>
        </ul>
        <p>
           Thank you for your support!
        </p>
    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
