{%- extends 'base.html' -%}
{%- block content -%}
<div class="row flex-grow-1 justify-content-center">

  <div class="col-6">
    <br/>
    <div class="alert alert-danger" role="alert">
       ALPHA SITE: Please do not share this site, take screenshots or download anything from this site!
    </div>
    <h2>Welcome!</h2>
    <p>
       We are Beautiful ... is a project designed to lift the mystery
       that surrounds human genitalia. In many cultures and through a 
       lot of human history it has been taboo to look at other human
       genitalia. 
    </p>
    <p>
       We aim to change this by presenting educational, respectul
       and representative models of typical humans. You may <a 
       a href="{{ url_for("index.browse") }}">browse the collection of 3D models</a> 
       and you can even download and print these models on your own 
       3D printer.
    </p>
    <p>
       Our goal is to provide educational models that sex educators
       everywhere can download, print and use in their classes. Also,
       if you have questions about your own genitalia, have a look
       at other humans -- we come in many different shapes and
       sizes.
    </p>
    <p>
       Click on any model to view the 3D version of it or to download
       the model. We encourage you to find out more <a href="{{ url_for("index.about") }}">about
       this project</a> and <a href="{{ url_for("index.team") }}">our team</a>. Also, please
       consider making a small <a href="{{ url_for("index.donate") }}">donation</a> to help
       cover our operating costs.
    </p>
    <p>
       <b>PS: This site is in ALPHA condition -- there are many tweaks that need to be made to
       improve the site and we are far from ready for release. We're making this site 
       available to trusted friends in order to help us overcome basic hurdles in getting
       the company/site off the ground. Please respect the models who have contributed to
       this site by not downloading any models or making any snapshots of the site.</b>
    </p>
  </div>

  <div class="col-6 text-center">
    <div id="index-img-div">
      <div class="index-pic">
        <a class="model-link" href="/view/489561-SSNN">
          <img src="/static/bundle/489561-SSNN/screenshot.jpg" class="screenshot">
        </a>
      </div>
      <div class="index-pic">
        <a class="model-link" href="/view/478288-PSNN">
          <img src="/static/bundle/478288-PSNN/screenshot.jpg" class="screenshot">
        </a>
      </div>
      <div class="index-pic">
        <a class="model-link" href="/view/798070-VLAN">
          <img src="/static/bundle/798070-VLAN/screenshot.jpg" class="screenshot">
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock%}
