{%- extends 'base.html' -%}
{%- block content -%}
<div class="row h-50 justify-content-center">

  <div class="col-6 index-cell txt-cell">
    <p>
       We are Beautiful ... is a project designed to lift the mystery
       that surrounds human genitalia. In many cultures and through a 
       lot of human history it has been taboo to look at other human
       genitalia. 
    </p>
    <p>
       We aim to change this by presenting educational, respectul
       and representative models of typical humans. You may <a 
       a href="{{ url_for("index.browse") }}">browse the collection of 3D models</a> 
       and you can even download and print these models on your own 
       3D printer.
    </p>
    <p>
       Our goal is to provide educational models that sex educators
       everywhere can download, print and use in their classes. Also,
       if you have questions about your own genitalia, have a look
       at other humans -- we come in many different shapes and
       sizes.
    </p>
    <p>
       Click on any model to view the 3D version of it or to download
       the model. We encourage you to find out more <a href="{{ url_for("index.about") }}">about
       this project</a> and <a href="{{ url_for("index.team") }}">our team</a>. Also, please
       consider making a small <a href="{{ url_for("index.donate") }}">donation</a> to help
       cover our operating costs.
    </p>
  </div>

  <div class="col-6 index-cell text-center my-auto">
    <a class="model-link" href="/view/0001">
      <img src="/static/bundle/0001/screenshot.jpg" class="screenshot">
    </a>
  </div>

</div>

<div class="row h-50 justify-content-center">
  <div class="col-6 index-cell text-center my-auto">
    <a class="model-link" href="/view/0003">
      <img src="/static/bundle/0003/screenshot.jpg" class="screenshot">
    </a>
  </div>
  <div class="col-6 index-cell text-center my-auto">
    <a class="model-link" href="/view/0004">
      <img src="/static/bundle/0004/screenshot.jpg" class="screenshot">
    </a>
  </div>
</div>

{% endblock%}
