{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Statistics</h2>

      <p>Our model's ages, origins and ethnicities break down as follows:</p>

      <h4>Age</h4>
      <table class="table table-striped">
      <tr><th>age</th><th>number of models</th></tr>
      <tr><td>28</td><td>2</td></tr>
      <tr><td>34</td><td>1</td></tr>
      <tr><td>36</td><td>1</td></tr>
      <tr><td>39</td><td>1</td></tr>
      </table>

      <h4>Country</h4>
      <table class="table table-striped">
      <tr><th>country</th><th>number of models</th></tr>
      <tr><td>CH</td><td>3</td></tr>
      <tr><td>CZ</td><td>1</td></tr>
      <tr><td>HU</td><td>1</td></tr>
      </table>

      <h4>Ethnicity</h4>

      <p>Please note that ethnicity is self declared by each model.</p>

      <table class="table table-striped">
      <tr><th>ehtnicity</th><th>number of models</th></tr>
      <tr><td>european white</td><td>5</td></tr>
      </table>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
