{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-10">
       <p class="team-name">Trench</p>
       <p class="team-title">Chief Unfug Officer</p>
       <p class="team-desc">
          Trench is an über-geek and loves to model shit.
       </p>
       <br/>
       <p class="team-name">Mayhem</p>
       <p class="team-title">Major Nonsense</p>
       <p class="team-desc">
          Mayhem is an über-geek, but understands business.
       </p>
    </div>
  </div>
{% endblock%}
