{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6 text-well">
      <p class="team-name">Trench</p>
      <p class="team-title">Chief Unfug Officer</p>
      <p class="team-desc">
         Trench is an über-geek and loves to model random things,
         turning information into bits and bits into education. A general 
         do-gooder who practically never sleeps.
      </p>
      <br/>
      <p class="team-name">Mayhem</p>
      <p class="team-title">Major Nonsense</p>
      <p class="team-desc">
         Mayhem is an über-geek who also loves to tinker endlesslessly,
         but he actually does love to sleep. Mayhem understands technology,
         the importance of education and is willing to take on the 
         dirty business aspects of making this site run.
      </p>
    </div>
    <div class="col-3">
    </div>
  </div>
{% endblock%}
