{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row">
    <div class="col">
    </div>
    <div class="col-11 text-div">
      <h2>Team</h2>
      <p>
        Our team consists of:
      <p>
      <p class="team-name">Trench</p>
      <p class="team-title">CTO & Chief Unfug Officer</p>
      <p class="team-desc">
         Trench is an über-geek and loves to model random things,
         turning information into bits and bits into education. A general 
         do-gooder who practically never sleeps.
      </p>
      <p class="team-desc">
         There is no good way to contact him, he prefers to keep working away
         in his secret lair in the alps of switzerland.
      </p>
      <br/>
      <p class="team-name">Mayhem</p>
      <p class="team-title">CEO & Major Nonsense</p>
      <p class="team-desc">
         Mayhem is an über-geek who also loves to tinker endlesslessly,
         but he actually does love to sleep. Mayhem understands technology,
         the importance of education and is therefore willing to take on the 
         dirty business aspects of making this site run. He lives in Barcelona, Spain
         and runs the <a href="https://metabrainz.org">MetaBrainz Foundation</a>
         as a day job.
      </p>
      <p class="team-desc">
         You can find him on Twitter as <a href="https://twitter.com/mayhemBCN">MayhemBCN</a> or
         view his <a href="https://mayhem.cat">rather unique personal home-page</a>.
      </p>

      <br/>
      <h2>Additional help</h2>
      <p class="team-name">Monkey</p>
      <p class="team-title">Volunteer web designer</p>
      <p class="team-desc">
        Monkey is a skilled web engineer and overall designer who created our logo and help us 
        with web design for this web-site. Thank you for all your help in making our pages look
        nice!
      </p>
      <p class="team-desc">
         You can find Monkey at <a href="http://www.monkeydo.digital/">{ Monkey.Do }</a>.
      </p>

    </div>
    <div class="col">
    </div>
  </div>
{% endblock%}
