{%- extends 'base-view.html' -%}
{%- block content -%}
  <div class="row h-100">
    <div class="col-12">
       <div id="stl_div" class="h-100"></div>
    </div>
    <div class="row" id="info-row">
        <div id="progress" class="col-6">
        </div>
        <div id="info" class="col-6 text-right">
        {% if manifest.id %}
           {% if manifest.id != "000000" %}
             {{ manifest.body_part }} of a {{ manifest.gender }} with a {{ manifest.body_type }} body. 
          {% else %}
             anatomical model
          {% endif %}
        {% endif %}
        </div>
    </div>
  </div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script src="{{url_for('static', filename='js/stl_viewer/stl_viewer.min.js')}}"></script>
<script>

var default_color = "#FF6000";

$("body").css("overflow-y", "hidden");
$("#top-container").toggleClass("h-100");

var options =
{ 
  load_three_files : '{{url_for('static', filename='js/stl_viewer/')}}' ,
  model_loaded_callback : on_model_loaded,
  all_loaded_callback : on_all_loaded,
  loading_progress_callback : load_progress,
};
if ("{{ manifest.id }}")
{
    options['models'] = [ { id:0, filename:"/static/bundle/{{ code }}/surface-medium.stl"} ];
    $("#progress").text("loading ...");
}

var viewer=new StlViewer(document.getElementById("stl_div"), options);
if (!"{{ manifest.id }}")
    viewer.set_drag_and_drop(true);


function on_model_loaded(id)
{
    viewer.set_color(id, default_color);
}

function on_all_loaded() 
{
    $("#progress").text("{{ code }}");
}

function load_progress(load_status, load_session)
{
    Object.keys(load_status).forEach(function(model_id)
    {
        if (load_status[model_id].load_session==load_session)
        {
            if (load_status[model_id].loaded == load_status[model_id].total)
               $("#progress").html('rendering<span class="one">.</span><span class="two">.</span><span class="three">.</span>');
            else
            {
                percent = Math.trunc(load_status[model_id].loaded * 100.0 / load_status[model_id].total)
                $("#progress").html("loading " + percent + '%');
            }
        }
    });
}
</script>
{% endblock %}
