{%- extends 'base.html' -%}
{%- block content -%}
  <div class="row h-100">
    <div class="col-9">
       <div id="target" class="h-100"></div>
    </div>
    <div class="col-3">
    <div id="progress">loading ...</div>
    <h5>
    Human model information:
    </h5>
    <table class="table table-striped table-bordered"></tr>
        <tr><td>country</td><td>Switzerland</td></tr>
        <tr><td>age</td><td>27</td></tr>
        <tr><td>ethnicity</td><td>caucasian</td></tr>
        <tr><td>body type</td><td>slim</td></tr>
    </table> 
    <h5>
    3D model information:
    </h5>
    <table class="table table-striped table-bordered"></tr>
        <tr><td>size</td><td>7MB</td></tr>
        <tr><td>format</td><td>STL</td></tr>
    </table> 
    </div>
  </div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script src="{{url_for('.static', filename='js/stl_viewer/stl_viewer.min.js')}}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

var viewer=new StlViewer(document.getElementById("target"), 
    { 
      models: [ {id:0, 
                 filename:"/static/models/{{ model }}",
                 rotationx: 0, 
                 rotationy: 0,
                 rotationz: -3.141,
                 color: "#FF6000",
                } ],
      load_three_files : '{{url_for('.static', filename='js/stl_viewer/')}}' ,
      all_loaded_callback : on_loaded,
      loading_progress_callback : load_progress,
    }
);
function on_loaded() 
{
     $("#progress").toggleClass("d-none");
     viewer.set_scale(0, .9);
}
function load_progress(status, session)
{
     if (status[0].loaded == status[0].total)
        $("#progress").text("rendering...");
     else
     {
         percent = (status[0].loaded * 100) / status[0].total;
         $("#progress").text("loading " + percent + "%");
     }
}
</script>
{% endblock %}
