.flex-column {
    max-width: 500px;
}

.text-well {
    padding: 20px;
    margin: 5px;
    background-color: #eee;
}

.team-name {
    font-size: 14pt;
    font-weight: bold;
}

.team-title {
    font-style: italic;
    margin-top: -15px;
    color: #888;
}

.quote {
    font-style: italic;
    margin-left: 25px;
}

.img-index {
    padding: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

.model-link {
    text-decoration: none;
}
