{%- extends 'base.html' -%}
{%- block content -%}
<div class="row">
  <div class="col-12">

    <h2>Upload bundle</h2>
      <form>
        <div class="form-group">
          <label for="control-file">
            To upload and publish a new bundle, click on upload and select a bundle. The upload starts automatically.
          </label>
          <input type="file" class="form-control-file" id="control-file">
        </div>
      </form>
      <div class="card">
        <div class="card-body" id="upload-status">
        </div>
      </div>

    <h2>Upload raw bundle</h2>
      <form>
        <div class="form-group">
          <label for="control-file-raw">
            To upload and publish a raw bundle, click on upload and select a zip file with source files. 
          </label>
          <input type="file" class="form-control-file" id="control-file-raw">
        </div>
      </form>
      <div class="card">
        <div class="card-body" id="upload-status-raw">
        </div>
      </div>

      <div>
         Recently created bundles:
         <ul>
          {% for link in links %}
            <li><a href="{{ link[0] }}">{{ link[1] }}</a></li>  
          {% endfor %}
         </ul>
      </div>

  </div>
</div>
{% endblock%}

{% block scripts %}
{{ bootstrap.load_js() }}
<script src="{{url_for('static', filename='js/simple-upload-1.1.min.js')}}"></script>
<script>

$('#control-file').change(function()
{
    $('#control-file').simpleUpload("/admin/upload", 
    {
            start: function(file){
                 $("#upload-status").html("Upload started")
            },
            progress: function(progress){
                 $("#upload-status").html("progress: " + Math.round(progress) + "%");
            },
            success: function(data){
                 $("#upload-status").html("Upload complete")
            },
            error: function(error){
                 console.log(error);
                 $("#upload-status").text(error.message + ": " + error.xhr.status + " - " + error.xhr.responseText)
            }

    });
});
$('#control-file-raw').change(function()
{
    $('#control-file-raw').simpleUpload("/admin/upload-raw", 
    {
            start: function(file){
                 $("#upload-status-raw").html("Upload started")
            },
            progress: function(progress){
                 if (Math.round(progress) == 100)
                     $("#upload-status-raw").html("File uploaded, now processing. Please wait.");
                 else
                     $("#upload-status-raw").html("progress: " + Math.round(progress) + "%");
            },
            success: function(data){
                 console.log(data) 
                 $("#upload-status-raw").html("<div>Upload complete.</div><div><pre>" + data + "</pre></div>")
            },
            error: function(error){
                 $("#upload-status-raw").text(error.message + ": " + error.xhr.status + " - " + error.xhr.responseText)
            }

    });
});
</script>
{% endblock %}
